In [31]:
#Importing required packages
import numpy as np
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model

In [2]:
#Importing the dataset
data = pd.read_csv(r'C:\Users\LENOVO\Documents\Online Courses\Kaggle\train.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
data_t= pd.read_csv(r'C:\Users\LENOVO\Documents\Online Courses\Kaggle\test.csv')
data_t.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [4]:
#Dropping the variables where null values > 1000
data=data.drop(['PoolQC','Fence','MiscFeature','Alley'],axis = 1)
data_t=data_t.drop(['PoolQC','Fence','MiscFeature','Alley'],axis = 1)

In [5]:
#Imputing Missing Categorical Values with Mode

data['BsmtFinType1']= data['BsmtFinType1'].fillna('NB')
data['BsmtQual']= data['BsmtQual'].fillna('NB')
data['BsmtCond']= data['BsmtCond'].fillna('NB')
data['BsmtExposure']= data['BsmtExposure'].fillna('NB')
data['BsmtFinType2']= data['BsmtFinType2'].fillna('NB')
data['GarageType']= data['GarageType'].fillna('NG')
data['GarageFinish']= data['GarageFinish'].fillna('NG')
data['GarageQual']= data['GarageQual'].fillna('NG')
data['GarageCond']= data['GarageCond'].fillna('NG')
data['FireplaceQu']= data['FireplaceQu'].fillna('NF')
##for test dataset
data_t['BsmtFinType1']= data_t['BsmtFinType1'].fillna('NB')
data_t['BsmtQual']= data_t['BsmtQual'].fillna('NB')
data_t['BsmtCond']= data_t['BsmtCond'].fillna('NB')
data_t['BsmtExposure']= data_t['BsmtExposure'].fillna('NB')
data_t['BsmtFinType2']= data_t['BsmtFinType2'].fillna('NB')
data_t['GarageType']= data_t['GarageType'].fillna('NG')
data_t['GarageFinish']= data_t['GarageFinish'].fillna('NG')
data_t['GarageQual']= data_t['GarageQual'].fillna('NG')
data_t['GarageCond']= data_t['GarageCond'].fillna('NG')
data_t['FireplaceQu']= data_t['FireplaceQu'].fillna('NF')

In [6]:
data['GarageYrBlt'] = np.where(data['GarageType']=='NG',0,data['GarageYrBlt'])
data_t['GarageYrBlt'] = np.where(data_t['GarageType']=='NG',0,data_t['GarageYrBlt'])
data_t['GarageYrBlt'] = np.where(data_t['GarageType']=='NG',0,data_t['GarageYrBlt'])
data_t['BsmtFinSF2'] = np.where(data_t['BsmtFinType2']=='NB',0,data_t['BsmtFinSF2'])
data_t['BsmtFinSF1'] = np.where(data_t['BsmtQual']=='NB',0,data_t['BsmtFinSF1'])
data_t['BsmtUnfSF'] = np.where((data_t['BsmtFinType1']=='NB') & (data_t['BsmtFinType2']=='NB'),0,data_t['BsmtUnfSF'])

In [7]:
#Dropping Inconsistent Values
data = data.drop(data[(data.BsmtHalfBath<1) & (data.BsmtHalfBath >0)].index )
data = data.drop(data[(data.BsmtFullBath<1) & (data.BsmtFullBath >0)].index )
data_t = data_t.drop(data_t[(data_t.BsmtHalfBath<1) & (data_t.BsmtHalfBath >0)].index )
data_t = data_t.drop(data_t[(data_t.BsmtFullBath<1) & (data_t.BsmtFullBath >0)].index )

In [8]:
#Check for null values
def check_null(frame):
    null_columns = []
    for i in frame.columns :
        if frame[i].isnull().sum() > 0:
            null_columns.append(i)
    return null_columns

In [9]:
#Deal with null values
def fillna (null_columns,frame):
    for i in null_columns:
        if frame[i].dtype == 'float64':
            frame[i]= frame[i].fillna(frame[i].mean())
        elif frame[i].dtype == 'object':
            frame[i]= frame[i].fillna(frame[i].mode()[0])
    return frame.isnull().sum().sum()

In [10]:
fillna(check_null(data),data)

0

In [11]:
fillna(check_null(data_t),data_t)

0

In [12]:
print(data.shape,data_t.shape)

(1460, 77) (1459, 76)

In [15]:
data_t.to_csv('mergedtest.csv')

In [16]:
merged = pd.read_csv('mergedtest.csv')

In [17]:
data_2 = data.copy()

In [14]:
data_2.shape

(1460, 77)

In [18]:
data_2 = pd.concat([data_2,merged])

In [19]:
data_2.drop(['Unnamed: 0'],axis=1,inplace = True)

In [20]:
data_2.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000.0

In [21]:
def getdummy (frame,column):
    for col in column:
        print(col)
        df = pd.get_dummies(frame[col], drop_first = True)
        frame.drop ([col], axis= 1, inplace= True)
        frame = pd.concat([frame,df],axis=1)
    return frame

In [22]:
columns=['MSZoning','Street','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood',
         'Condition2','BldgType','Condition1','HouseStyle','SaleType',
        'SaleCondition','ExterCond',
         'ExterQual','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2',
        'RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','Heating','HeatingQC',
         'CentralAir',
         'Electrical','KitchenQual','Functional',
         'FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PavedDrive']

In [24]:
final_df = getdummy(data_2,columns)
final_df.shape

MSZoning
Street
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition2
BldgType
Condition1
HouseStyle
SaleType
SaleCondition
ExterCond
ExterQual
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
Heating
HeatingQC
CentralAir
Electrical
KitchenQual
Functional
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PavedDrive

(2919, 248)

In [25]:
#Splitting The Train and Test
train_set = final_df.iloc[:1460,:]
test_set = final_df.iloc[1460:,:]

In [26]:
x = list(final_df.columns)

In [27]:
x.remove('SalePrice')

In [28]:
print(train_set.shape,test_set.shape)

(1460, 248) (1459, 248)

In [32]:
#Modellin Linear regression
regr = linear_model.LinearRegression()
model = regr.fit (train_set[x],train_set['SalePrice'])

In [33]:
y_hat = model.predict(test_set[x])

In [34]:
y_hat = pd.DataFrame(y_hat)

In [38]:
id = data_t['Id']
id[0:5]

0    1461
1    1462
2    1463
3    1464
4    1465
Name: Id, dtype: int64

In [39]:
id = pd.DataFrame(id)

In [40]:
final = pd.concat ([id, y_hat],axis= 1)

In [41]:
final[0:5]

     Id              0
0  1461  112838.283833
1  1462  160853.884428
2  1463  189687.073179
3  1464  196530.339561
4  1465  205006.268086

In [42]:
final = final.rename ({0:'SalePrice'}, axis= 1)

In [43]:
final.head()

     Id      SalePrice
0  1461  112838.283833
1  1462  160853.884428
2  1463  189687.073179
3  1464  196530.339561
4  1465  205006.268086

In [112]:
final.to_csv('Submission.csv')